// Specific CSS for your home-page
.head-text-illu-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto;
  max-width: 1100px;
}


.head-text {
  // display:flex;
  // flex-direction: column;
  // justify-content: center;
  max-width: 700px;
  text-align: center;
  h1, p {
    color: $db;
  }
}

.head-search {
  max-width: 900px;
  text-align: center;
  margin: 50px auto;
  display: flex;
}

.search-container {
  flex-grow: 1;
  margin-right: 25px;
}

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}
