
<% @good_actions.each do |good_action| %>
<p>Good action ID: <%= good_action.id %></p>
<p>For the need: <%= good_action.need.title %></p>
<p>Karma points to win: <%= good_action.need.karma_points %> KM</p>
<% end %>
