<h1>On going claims:</h1>

<% @claims.each do |claim| %>
  <% if claim.status == "On process" %>
    <p> <%= link_to "Claim ##{claim.id} - #{claim.need.title}", claim_path(claim.id) %> </p>
  <% end %>
<% end %>
