<div class="dashboard d-flex">

  <%= render "shared/sidebar" %>

  <div class="tabs-box">

    <% if current_user.user_type == "Company" %>
      <h3>My companies:</h3>
      <%= render "companies/cie_dashboard" %>
    <% elsif current_user.user_type == "Charity" %>
      <h3>My charities:</h3>
      <%= render "charities/cha_dashboard" %>
    <% end %>

  </div>
</div>
