<div class="dashboard d-flex">

  <%= render "shared/sidebar" %>

  <div class="tabs-box">

    <% if current_user.user_type == "Company" %>
      <h3>My company:</h3>
      <%= render "companies/company_dashboard" %>
      <h3>My good actions:</h3>
      <% if current_user.company.good_actions.first.present? %>
      <%= render "shared/claim" %>
      <% end %>


    <% elsif current_user.user_type == "Charity" %>
      <h3>My charity:</h3>
      <%= render "charities/charity_dashboard" %>
    <% end %>

  </div>
</div>
