<%current_user.companies.each do |cie|%>
  <div class="dashboard-main-card">
    <div class="dashboard-main-card-img">
      <%= cl_image_tag cie.photo.key, class: "dashboard-main-card-img"%>
    </div>
    <div class="dashboard-main-card-infos">
      <p><%=cie.name%></p>
      <p><%=cie.description%></p>
      <p><%=cie.location%></p>
    </div>
  </div>
<% end %>
