.index-cards-box {
  max-width: 90vw;
  margin: 25px auto;
}

.dashboard-main-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 9px;
  margin: 5px 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.dashboard-main-card-img {
  border-radius: 9px 0px 0px 9px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.dashboard-main-card-infos {
  padding: 25px;
}

.index-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 9px;
  margin: 5px 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.index-card-img {
  border-radius: 9px 0px 0px 9px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.index-card-infos {
  padding: 25px;
}

.show-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 9px;
  margin: 5px 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.show-card-img {
  border-radius: 9px 0px 0px 9px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.show-card-infos {
  padding: 25px;
}
