
// -----------------Index card----------------------



.index-cards-box {
  max-width: 90vw;
  margin: 25px auto;
}

.index-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 9px;
  margin: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.index-card-img {
  border-radius: 9px 0px 0px 9px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.index-card-infos {
  padding: 25px;
}


// -----------------Dashboard card----------------------


.dashboard-main-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 9px;
  margin: 10px;
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid rgb(225, 225, 225);
  height: 300px;
}

.dashboard-main-card-img {
  border-radius: 9px 0px 0px 9px;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.dashboard-main-card-infos {
  padding: 25px;
}

.needs-box {
  padding: 25px;
}


// --------------------charity card----------------



.charity-cards-box {
  background-color: white;
  border-radius: 9px;
  margin: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 10px;
}

.charity-card-header {
  display: flex;
  align-items: center;
}

.charity-card-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 9px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 10px;
}

.charity-card-infos {
  background-color: white;
  text-align: center;
  width: 500px;
  height: 500px;
  padding: 25px;
  border-radius: 9px;
  border: 1px solid rgb(225, 225, 225);
  margin: 10px;
}
