.navbar-lewagon {
  justify-content: space-between;
  background: rgb(46,148,218);
  background: linear-gradient(156deg, rgba(46,148,218,0.7) 0%, rgba(153,123,234,0.7) 41%, rgba(232, 150, 255, 0.7) 100%);
  // border-radius: 9px;
  // margin: 5px 10px;
  // margin-top: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  text-decoration: none;
  font-size: 27px;
  color: white;
  font-weight: 500;
  transition: 0.2s;
}

.logo:hover {
  font-size: 28px;
  font-weight: 600;
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: $db;
  transition: 0.2s;
  padding-right: 25px;
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: bold;
}

.container-fluid {
  margin: auto 25px;
  height: 100px;
}
